* {
  box-sizing: border-box;
}

html {
  border-top: 10px;
  font-family: sans-serif;
  background-color: rgb(250 250 250);
}

img[alt="Top Image"]{
  width: 100%;
  height: 150px;
}

img[alt="Bottom Image"] {
  width: 100%;
  height: 150px;
}

.container {
  margin-top: -60px;
  margin-left: 6px;
  padding-left: 80px;
  padding-top: 80px;
  position: absolute;
  background-image: url("/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
}

.container h1 {
  position: relative;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  color: rgb(250 250 250);
  text-shadow: 1px 1px 1px black;
}

.title {
  padding-top: 150pt;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

.bar {
  background-color: black;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(
    0.99turn, lightgrey, grey, lightgrey
  );
}

Content.left {
  column-count: 2;
  margin-right: 150px;
}

Content.right {

}

body {
  border-top: 1mm;
  border-bottom: 1mm;
  border-color:aquamarine;
  margin: 0;
  background: white;
}

q {
  text-align: center;
  display: block;
  
}

.First-Quote {
  font-size: 12pt;
}

.Second-Quote {
  font-size: 10pt;
  margin-bottom: 15pt;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: -30mm;
  right: -70mm;
}



/* Your CSS below here */